{% extends "material/base.html" %}
{% block content %}
<div class="showcase container green lighten-3">
  <div class="row">
    <div class="col 12 m10 offset-ml center">
      <h1>ML WebApp</h1>
      <h2>Startup companies profit predictor</h2>
      <a href="{{url_for('index')}}" class="btn btn-small teal black-text waves-effect waves-dark">Back</a> 
    </div>
  </div>
   
</div>


<div class="container">
	{{ df_view.to_html(classes="table striped",na_rep="-")| safe}}
	
</div>


{% endblock %}


{% block scripts %}
{{ super() }}




{% endblock %}